.burial-search-container {
    height: 100%;
    width: 100%;
    display: flex;
    background: url("../../assets/HimalayanPhotos.jpg") no-repeat center center/cover;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.burial-search-container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.search-bar-container {
    max-height: 60vh;
    width: 45%;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    min-width: 250px;
    z-index: 2;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.search-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.search-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

.result-list-container {
    width: 100%;
    max-height: 75%;
    overflow-y: auto;
    margin-top: 8px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.result-item {
    padding: 11px 20px;
    cursor: pointer;
    font-size: 1rem;
    color: #272727;
    font-weight: 500;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #ddd;
}

.result-item:hover {
    background-color: #f0f0f0;
}

.burialSearch-datesLabel{
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 1px;
    color: #555555;
    /* margin-bottom: 5px; */
}

.result-list-container::-webkit-scrollbar {
    width: 6px;
}

.result-list-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 8px;
}

.image-container {
    text-align: center;
    margin-top: 2rem; 
    margin-bottom: 1rem; 
    z-index: 2;
}

.example-image {
    width: 100%;
    max-width: 800px;
    height: auto;
}

.burial-search-h1-text-style{
    color: rgb(254, 255, 216);
    font-weight: bold;
    font-size: 2.5rem;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .search-bar-container {
        width: 80%;
        max-height: 60vh;
    }

    .result-item {
        padding: 8px 16px;
        font-size: 0.8rem;
    }
    
    .example-image {
        width: 80%;
        max-width: 500px;
        height: auto;
    }
    .burial-search-h1-text-style{
        color: rgb(254, 255, 216);
        font-weight: bold;
        font-size: 1.4rem;
    }
    .burialSearch-datesLabel{
        font-size: 0.65rem;
        font-weight: bold;
        margin-top: 1px;
        color: #555555;
        /* margin-bottom: 5px; */
    }
}
