.visitor-navbar-container {
    height: 3.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f8f9fa; /* Optional background color */
    padding: 0 1rem;
}

.visitor-menu-container {
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.a-visitor-navbar {
    position: relative;
    height: 80%;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    transition: color 0.3s ease, background-color 0.5s ease;
}

.a-visitor-navbar::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #505050;
    transition: width 0.5s ease-in-out;
}

.a-visitor-navbar:hover::before {
    width: 100%;
}

.a-visitor-navbar:hover {
    color: #505050;
    background-color: #e7e7e7;
}

.a-visitor-navbar.active {
    border-bottom: 2px solid #505050;
}

.desktop-login {
    position: absolute;
    right: 3rem;
    height: 75%;
    width: 5.5rem;
    margin-right: 3rem;
    border: none;
    border-radius: 8px;
    background-color: #505050;
    font-size: 0.8rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.desktop-login:hover {
    background-color: #696969;
    transform: scale(1.07);
}

.visitor-burger {
    display: none;
    font-size: 2.1rem;
    cursor: pointer;
    margin-left: auto;
    margin-right: 0.5rem;
}

.visitor-mobile-menu {
    position: absolute;
    top: 3.3rem;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    z-index: 10;
}

.visitor-mobile-menu .a-visitor-navbar {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.visitor-mobile-menu button {
    width: 100%;
    padding: 0.5rem 0;
    background-color: #505050;
    color: white;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.5s ease;
}

.visitor-mobile-menu button:hover {
    background-color: #696969;
}

@media screen and (max-width: 768px) {
    .visitor-menu-container {
        display: none;
    }

    .visitor-burger {
        display: block;
    }

    .desktop-login {
        display: none;
    }
    .a-visitor-navbar{
        height: 4rem;
        font-size: large;
        font-weight: 700;
        color: #505050;
    }
}
