/* updatePasswordModal.css */

.update-password-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.update-password-modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.update-password-modal-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.update-password-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.update-password-form-group {
    width: 100%;
    margin-bottom: 15px;
}

.update-password-label {
    display: block;
    font-size: 1rem;
    margin-bottom: 5px;
    font-weight: 500;
}

.update-password-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.update-password-modal-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.update-password-submit-btn,
.update-password-cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.update-password-submit-btn {
    background-color: #28a745;
    color: white;
}

.update-password-cancel-btn {
    background-color: #dc3545;
    color: white;
}

.update-password-submit-btn:hover{
    background-color: #218838;
}
.update-password-cancel-btn:hover {
    background-color: #c82333;
}

.input-error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 5px;
}

.axios-error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 15px;
    text-align: center;
}
