.info-card {
    width: 95%;
    height: 90%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .info-card-header {
    font-size: 1rem;
    color: #333;
    font-weight: 600;
    margin-top: 12px;
  }
  
  .info-card-value {
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
    color: #202020;
    margin:auto;

  }
  