.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-height: 80vh; /* Make sure it doesn't take up more than 80% of the viewport height */
    overflow-y: auto; /* Make content scrollable if it's too tall */
  }
  
  .create-new-person-h2 {
    margin-top: 0;
  }
  
  .form-persons {
    display: flex;
    flex-direction: column;
  }
  
  .modal-form-label-persons{
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .modal-form-input-persons {
    margin-bottom: 20px;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .btn-perons {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
  }
  
  .submit-btn-persons{
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  .cancel-btn-persons{
    background-color: #f44336;
    color: white;
    border: none;
  }
  
  .submit-btn-persons:hover,
  .cancel-btn-persons:hover {
    opacity: 0.9;
  }
  
  .error-text-persons {
    color: red;
    font-size: 0.85rem;
    margin-top: 5px;
  }