nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 1rem;
    /* position: absolute; */
}

#navlogo{
    font-size:1.5rem;
    color: black;
    margin-left: 1rem;
}

ul{
    margin:  0 8rem 0 auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
    
}

li{
    list-style: none;

}

a{
    text-decoration: none;
    color: black
}

a:hover {
    cursor:pointer;
}