nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0.9rem;
    /* position: absolute; */
    /* background-color: pink; */
}

ul{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black
}

a:hover {
    cursor:pointer;
}