/* Container for manage user page */
#manageuser-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

/* Search Bar */
.search-bar {
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.search-bar input {
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Top Section */
.manageuser-top {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* User Filters */
.user-filters {
    display: flex;
    gap: 10px;
}

.valid-user-btn,
.invalid-user-btn {
    background-color: #ccc;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.valid-user-btn.active {
    background-color: #007bff;
}

.invalid-user-btn.active {
    background-color: #dc3545;
}

.valid-user-btn:hover {
    background-color: #0056b3;
}

.invalid-user-btn:hover {
    background-color: #c82333;
}

/* Create New User Button */
.create-user {
    display: flex;
    justify-content: flex-end;
}

.create-user-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.create-user-btn:hover {
    background-color: #218838;
}
