.Input-wrapper{
    background-color: white;
    width: 100%;
    border-radius: 8px;
    height: 2.65rem; /* Slightly increased height */
    padding: 0 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
    display: flex;
    align-items: center;
    align-items: center;
}

#burial-search-input {
    background-color: transparent;
    border: none;
    height: 100%;
    width: 100%;
    margin-left: 10px;
    font-size: 1rem; /* Increased font size */
    color: #242424;
    font-weight: 500;
    
}

#burial-search-input:focus{
    outline: none;
}

#search-icon {
    color: #252525;/* Softer color for the search icon */
    width: 22px;
}

#burial-search-input::placeholder {
    color: #a3a3a3; /* Subtle placeholder color */
}

@media (max-width: 768px){
    .Input-wrapper{
        background-color: white;
        width: 100%;
        border-radius: 8px;
        height: 2.4rem; /* Slightly increased height */
        padding: 0 15px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Enhanced shadow */
        display: flex;
        align-items: center;
        align-items: center;
    }

    #search-icon {
        color: #252525;/* Softer color for the search icon */
        width: 18px;
    }
}