/* Container for manage user page */
#manageVacantLot-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
}

/* Search Bar */
.search-bar-vacatLot{
    width: 75%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.search-bar-vacatLot .inputVacant-lot{
    width: 100%;
    padding: 6px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Top Section */
.manageVacantLot-top {
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/* User Filters */
.user-filters {
    display: flex;
    gap: 10px;
}


/* Create New User Button */
.create-vacnatLot {
    margin-left:auto;
    display: flex;
    justify-content: flex-end;
}

.create-vacnatLot-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.create-vacnatLot-btn:hover {
    background-color: #218838;
}
